@charset "UTF-8";



.hero-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;

  background-size: cover;
  background-size: cover;
  background-position: center;

}

img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

figure {
  margin: 1.5em;
}

figure img {
  display: block;
}

/* IMPORT */

.clearfix:after {
  clear: both;
  content: "";
  display: table;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body, input, button {
  font-family: Georgia, Times, serif;
  font-size: 22px;
  color: #3a3a3a;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    outline: 0;
    vertical-align: baseline;
}

body {
  padding: 0;
  margin: 0;
}

#outer-wrapper,
.outer-section {
  width: 100%;
  padding: 0;
  margin: 0;
}

.inner-section {
  position: relative;
  box-sizing: border-box;
  padding: 0.5em 0;
  margin: 0;
  width: 95%;
  max-width: 768px;
  margin: 0 auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
  background-color: #ffffff;
  outline: none;
}

a, a:link {
  outline: none;
  text-decoration: none;
  color: #920000;
  border: 0;
  border-bottom: 1px dotted #555;
}

a:hover, a:active, a:focus {
  border-bottom: 1px solid #920000;
}



h1 {
  font-size: 180%;
  font-weight: 600;
  line-height: 160%;
  margin-top: 1em;
  margin-bottom: 1em;
}

h2 {
  font-size: 160%;
  font-weight: 600;
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 150%;
}

h3 {
  font-size: 140%;
  font-weight: 600;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h4 {
  font-size: 110%;
  font-weight: 600;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h5 {
  font-size: 100%;
  font-weight: 400;
}

p {
  margin-top: 1.5em;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

ul, ol {
  list-style-position: outside;
  margin-left: 30px;
  padding-left: 30px;
  font-weight: 300;
}

ul ol, ul ul, ol ul, ol ol {
  padding-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

ol li, ul li {
  padding-left: 10px;
  margin-bottom: 5px;
}

ul {
  list-style-type: square;
}

ul ul {
  list-style-type: disc;
}

ul ul {
  list-style-type: circle;
}

ol {
  list-style-type: decimal-leading-zero;
}

ol ol {
  list-style-type: lower-roman;
}

ol ol ol {
  list-style-type: lower-greek;
}

code, code[class*=language-] {
  display: inline-block;
  white-space: pre-wrap;
  word-wrap: normal;
  overflow-wrap: normal;
  padding: 0.3em;
  background-color: #f5f5f5;
  font-size: 80%;
  line-height: 150%;
  font-family: "Source Code Pro", Menlo, Consolas, "Courier", monospace;
  color: #515151;
  border-radius: 0.3em;
}

pre, pre[class*=language-] {
  overflow-x: auto;
  margin: 0.6em 0;
  padding: 0;
}

pre > code,
pre > code[class*=language-],
pre[class*=language-] > code[class*=language-] {
  overflow: auto;
  white-space: pre;
  word-wrap: normal;
  overflow-wrap: normal;
  display: block;
  padding: 1em;
  border-left: 2px solid #920000;
  box-shadow: -1px 0 0 0 #920000, 0 0 0 1px #dfdfdf;
}

blockquote {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  color: #888;
  font-style: italic;
  margin: 30px;
  padding: 20px 30px;
  text-align: center;
  quotes: "“" "”" "‘" "’";
}

blockquote:before {
  color: #888;
  content: open-quote;
  font-size: 400%;
  line-height: 0.1;
  vertical-align: -0.4em;
}

blockquote:after {
  content: close-quote;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  float: left;
}

blockquote p {
  margin-top: 10px;
}

table {
  border: 3px solid #f5f5f5;
  border-spacing: 3px;
  /*border-collapse: collapse;*/
}

td, th {
  border: 1px solid #afafaf;
  padding: 3px;
  text-align: left;
}

p img {
  display: block;
  max-width: 95%;
  height: auto;
  box-sizing: border-box;
  padding: 3px;
  margin: 0 auto;
  border: 3px solid #f5f5f5;
}

/******************************
 * HEADER
 */
#header-wrapper {
  min-height: 60px;
}

#inner-header {
  text-align: center;
}

#header-logo {
  display: block;

}

#header-logo a {
  border: 0;
  text-decoration: none;
}

#header-logo a:hover {
  color: #920000;
}

#header-logo img,
#header-logo svg {
  width: 60px;
  height: auto;
  vertical-align: middle;
}



#header-name {
  font-size: 250%;
  font-weight: 700;
  margin-left: 10px;
  vertical-align: middle;
}

#header-quote {
  font-style: italic;
  font-size: 90%;
  font-family: "Georgia", "Times New Roman", serif;
  color: #555;
}

#inner-header #nav-buttons {
  margin-top: 30px;
}

#inner-header #nav-buttons a {
  display: inline-block;
  margin: 10px 15px 0;
  padding: 2px;
  border-bottom: 1px dotted;
  font-size: 70%;
  text-transform: uppercase;
  color: #555;
}
#inner-header #nav-buttons a:hover, #inner-header #nav-buttons a:focus {
  border-bottom: 1px solid;
}

.header-signup-strip, .header-signup-strip .inner-section {
  padding: 0.5em;
  background-color: #f5f5f5;
  text-align: center;
  font-style: oblique;
}


/* POST LIST */

.post-tags {
  text-transform: lowercase;
}

.post-tags a {
  margin-left: 10px;
  color: #b37e8a;
}
.post-tags  a:active, .post-tags a:hover, .post-tags a:focus {
  border-bottom: 1px solid #b37e8a;
}

/* END POST LIST */



/******************************
 * MAIN CONTENT - SINGLE POST VIEW
 */

 .float-right {
   float: right;
 }

.post-title {
  margin-bottom: 5px;
  color: #920000;
}

.post-title-index {
  margin-bottom: 5px;
  color: #920000;
  font-weight: 400;
  font-size: 140%;
}

header.post-header {
  margin-bottom: 30px;
}

.post-meta {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 75%;
  line-height: 100%;
  color: #555;
  text-transform: uppercase;
}

.post-body p {
  font-weight: lighter;
}

.index-posts {
  list-style-type: none;
  margin-left: 0;
}

.index-posts a, .index-posts a:link, .index-posts a:visited {
  border: 0;
}
.index-posts a:active, .index-posts a:hover, .index-posts a:focus {
  border-bottom: 1px solid #920000;
}

#content-wrapper {
  margin-bottom: 1em;
}

#footer-wrapper, #footer-wrapper .inner-section {
  background-color: #f5f5f5;
}

.newsletter-signup {
  margin: 1em 0;
  text-align: center;
}
.newsletter-signup header h3 {
  margin-bottom: 0;
}
.newsletter-signup header p {
  margin: 0;
}
.newsletter-signup form input {
  margin: 10px;
  padding: 10px;
  border: 1px solid #afafaf;
  border-radius: 2px;
}
.newsletter-signup form input:focus, .newsletter-signup form input:active {
  outline: 1px solid #555;
}
.newsletter-signup form input[name=email_address] {
  width: 15em;
}
.newsletter-signup form button[type=submit] {
  padding: 10px;
  border: 1px solid #920000;
  border-radius: 2px;
  background-color: #920000;
  color: #fff;
  cursor: pointer;
}
.newsletter-signup form button[type=submit]:hover {
  opacity: 0.8;
}

/* IMPORT END */

share-widget {
  position: fixed;
  right: 20px;
  bottom: 20px;
  opacity: 0.9;
}

share-widget div {
  width: 30px;
  height: 30px;
  background-image: url('/img/share.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.apple share-widget div {
  background-image: url('/img/share-apple.svg');
}

share-widget button {
  margin: 0;
}

share-widget button:active {
  transform: scale(1.2);
}

dialog {
  background-color: #8dff80;
  position: fixed;
  opacity: 0.9;
}

img[align="left"] {
  width: auto;
  height: 16rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

dl {
  clear: both;
  display: block !important;
}

header aside {
  font-style: italic;
}

#nav {
  z-index: 2;
  position: relative;
}

#reading-progress {
  z-index: 1;
  background-color: var(--primary);
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  transform: translate(-100vw, 0);
  will-change: transform;
  pointer-events: none;
}
 li {
   margin-bottom: 1.6rem;
 }
#posts li {
  margin-bottom: 0.5em;
}


.social-wrapper {
  text-align: center;
  max-width: 40%;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.social-wrapper a {
  margin-left: 5px;
  text-decoration: none;
  border: none;
}

.social-wrapper a:link {
  text-decoration: none;
}
.social-wrapper a svg {
  transition: transform .25s, visibility .25s ease-in;
}
.social-wrapper a svg:hover {
  text-decoration: none;
  transform: scale(1.5);
}



.twitter-follow {
	box-shadow: 0px 10px 14px -7px #1da1f2;
	background-color:#1da1f2;
	border-radius:3px;
  display:inline-block;
  max-height: 45px;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:5px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1da1f2;
}
.twitter-follow:hover {
	background-color:#1da1f2;
}
.twitter-follow:active {
	position:relative;
  top:1px;
  text-decoration: none;
}


img.float-left {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
