---
title: Newsletter
layout: layouts/home.njk
permalink: /newsletter/
description: ochronus online newsletter
eleventyNavigation:
  key: Newsletter
  order: 2
---

<div id="posts">
  <script async data-uid="defd2b561f" src="https://ochronus-online.ck.page/defd2b561f/index.js"></script>
  {% set postslist = collections.newsletter %}
  {% include "postslist.njk" %}
</div>
