---
#layout: layouts/base.njk
templateClass: tmpl-post
---
{% extends "layouts/base.njk" %}


{% block extraArticleHeader %}
   {% set wc = content | striptags | wordcount %}
   {% set wPerMinute = wc / 240 %}
   <span>
     {{ wPerMinute | round }} min read | by {{ metadata.author }} @ {{ post }}
   </span>
{% endblock %}

{% set shareUrl = metadata.url + page.url %}

{% block article %}
<h1 class="post-title">{{ title }}</h1>
        <header class="post-header">
          <div class="post-meta">
               {% set wc = content | striptags | wordcount %}
   {% set wPerMinute = wc / 240 %}
   <span>
     {{ wPerMinute | round }} min read | by {{ author }}
   </span>
        <span class="post-tags float-right">
          {% for tag in tags | sort %}
            {% if tag != "posts" %}
              <a href="/tags/{{ tag }}/">{{ tag }}</a>
            {% endif %}
          {% endfor %}
        </span>
          </div>
        </header>
        {% if image %}
        <img class="hero-image" src="{{ image }}" />
        {% endif %}
  <article class="post">
    {% if toc %}
    <aside class="table-of-contents-wrapper">
      {{ content | toc | safe }}
    </aside>
    {% endif %}
    <section class="post-body">
      {{ content | safe }}
    </section>
    <hr class="light-separator" />
    <p>
  Since you've made it this far, <a href="{{ shareUrl | safe }}" on-click="share">sharing</a> this article on your favorite social media network
  would be highly appreciated 💖! For feedback, please
  <a href="https://twitter.com/{{ metadata.author.twitterHandle }}" target="_blank" rel="noopener">ping me on Twitter.</a>
</p>
 {% include "social-share.njk" %}

  </article>


{% set desc = excerpt or metadata.excerpt or renderData.excerpt or renderData.description or description %}
{% if not desc %}
  {% set desc = content | striptags | truncate(140) %}
{% endif %}

{% set pageURL = metadata.url + (canonicalUrl or page.url) %}

{% set title = renderData.title or title or metadata.title | escape%}


<script type="application/ld+json">
{
"@context": "https://schema.org",
"@graph": [
  {
    "@type": [
        "Person",
        "Organization"
    ],
    "@id": "https://ochronus.online/#person",
    "name": "ochronus",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ metadata.url + '/img/favicon/favicon-192x192.png' | addHash }}"
    },
    "image": {
      "@type": "ImageObject",
      "url": "{{ metadata.url + '/img/favicon/favicon-192x192.png' | addHash }}"
    }
  },
  {
      "@type": "WebSite",
      "@id": "https://ochronus.online/#website",
      "url": "https://ochronus.online",
      "name": "Ochronus online",
      "publisher": {
          "@id": "https://ochronus.online/#person"
      },
      "inLanguage": "en-US"
  },
  {
      "@type": "ImageObject",
      "@id": "{{ pageURL }}#primaryImage",
      "url": "https://ochronus.online{{ image | addHash }}"
  },
  {
      "@type": "WebPage",
      "@id": "{{ pageURL }}#webpage",
      "url": "{{ pageURL }}",
      "name": "{{ title }} - Ochronus online",
      "datePublished": "{{ page.date | htmlDateString }}",
      "dateModified": "{{ page.date | htmlDateString }}",
      "isPartOf": {
          "@id": "https://ochronus.online/#website"
      },
      "primaryImageOfPage": {
          "@id": "{{ pageURL }}#primaryImage"
      },
      "inLanguage": "en-US"
  },
  {
      "@type": "BlogPosting",
      "headline": "{{ title }} - Ochronus online",
      "datePublished": "{{ page.date | htmlDateString }}",
      "dateModified": "{{ page.date | htmlDateString }}",
      "author": {
          "@type": "Person",
          "name": "Csaba Okrona"
      },
      "publisher": {
          "@id": "https://ochronus.online/#person"
      },
      "description": "{{ desc }}",
      "@id": "{{ metadata.url }}{{ canonicalUrl or page.url }}#richSnippet",
      "isPartOf": {
          "@id": "{{ metadata.url }}{{ canonicalUrl or page.url }}#webpage"
      },
      "image": {
          "@id": "{{ metadata.url }}{{ canonicalUrl or page.url }}#primaryImage"
      },
      "inLanguage": "en-US",
      "mainEntityOfPage": {
          "@id": "{{ metadata.url }}{{ canonicalUrl or page.url }}#webpage"
      }
  }
  ]
}
</script>

{% endblock %}
